#loading{
    background-color: gray;
    opacity: 0.7;
    position: fixed;
    width: 5000px;
    height: 3000px;
    border: solid 1px #e1e1e1;
    vertical-align: middle;
    text-align: top;
    /* text-align: center; */
    vertical-align: middle;
    visibility: 'hidden';
    display: none;
}
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover {
    background-color: #555;
}
  
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.imgs{
    /* background-color: #777; */
    text-align: center;
    width: min-content;
    height: min-content;
    position: relative;
    float: left;
    margin: 10px 10px 10px 10px;
}

.text_select{
    font-size-adjust: 20px;
    font-weight: 300;
    font-size: larger;
}